<!DOCTYPE html>
<html>
    <head>
        <title> Home</title>
    </head>
    <body>
        <h1 align='center'>{{pageTitle}}</h1>
        <div style='width: 80em;height: 35em; border-style: groove;margin: 0 auto'>
            <p style='margin-left: 10px'>{{message}}</p>
        </div>
        {{>footer}}
</html>